<% if current_user %>
  <div class="row">
    <div class="col-md-3">
      <%= image_tag current_user.avatar, height: '250', width: '250', class: :img%><br>
      <h2><%= current_user.name %></h2>
      <h3><%= current_user.nickname %></h3><br>
      Add a bio
  </div>
  
  <div class="col-md-9">
  <ul class="nav nav-pills">
  <li role="presentation" class="disabled"><a href="#">Overview</a></li>
  <li role="presentation" class="disabled"><a href="#">Repositories</a></li>
  <li role="presentation" class="disabled"><a href="#">Stars</a></li>
  <li role="presentation" class="disabled"><a href="#">Followers <%= @github_user.followers(current_user.oauth_token)%></a></li>
  <li role="presentation" class="disabled"><a href="#">Following</a></li>
</ul>
<hr>
  </div>
</div>
<% end %>