---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/user?access_token=<GITHUB_API_TOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4989'
      X-Ratelimit-Reset:
      - '1494525573'
      Etag:
      - W/"e316e7f2f45d5ad3c35dec4d8c29ce53"
      Last-Modified:
      - Tue, 09 May 2017 19:59:15 GMT
      X-Oauth-Scopes:
      - repo
      X-Accepted-Oauth-Scopes:
      - ''
      X-Oauth-Client-Id:
      - 1afd6b8a50921df8ba05
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '{"login":"lukyans","id":20569018,"avatar_url":"https://avatars1.githubusercontent.com/u/20569018?v=3","gravatar_id":"","url":"https://api.github.com/users/lukyans","html_url":"https://github.com/lukyans","followers_url":"https://api.github.com/users/lukyans/followers","following_url":"https://api.github.com/users/lukyans/following{/other_user}","gists_url":"https://api.github.com/users/lukyans/gists{/gist_id}","starred_url":"https://api.github.com/users/lukyans/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/lukyans/subscriptions","organizations_url":"https://api.github.com/users/lukyans/orgs","repos_url":"https://api.github.com/users/lukyans/repos","events_url":"https://api.github.com/users/lukyans/events{/privacy}","received_events_url":"https://api.github.com/users/lukyans/received_events","type":"User","site_admin":false,"name":"Sergey","company":null,"blog":"","location":null,"email":null,"hireable":null,"bio":null,"public_repos":33,"public_gists":10,"followers":3,"following":0,"created_at":"2016-07-21T01:41:08Z","updated_at":"2017-05-09T19:59:15Z"}'
  recorded_at: Thu, 11 May 2017 17:53:05 GMT
recorded_with: VCR 3.0.3
