<% if current_user %>

  <div class="row">
    <div class="col-md-4">
      <%= image_tag current_user.avatar, class: "img" %><br>
      <h2><%= current_user.name %></h2>
      <h3><%= current_user.nickname %></h3><br>
      Add a bio
  </div>
  <div class="col-md-8">
    <ul class="nav nav-pills">
  <li role="presentation" class="disabled"><a href="#">Overview</a></li>
  <li role="presentation" class="disabled"><a href="#">Repositories</a></li>
  <li role="presentation" class="disabled"><a href="#">Stars</a></li>
  <li role="presentation" class="disabled"><a href="#">Followers</a></li>
  <li role="presentation" class="disabled"><a href="#">Folowing</a></li>
</ul>
  </div>
</div>
<% end %>

